

<h3> Students Name: <%= @student.name %> </h3>
<h4> Grade level: <%= @student.grade_level %> </h4>
<h4> Project: <%= @student.project %> </h4>

<br><br>

<h6> To edit information input changes here </h6>
<form action="/students/<%= @student.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:<input type="text" name="name"> 
  Grade_level:<input type="text" name="grade_level"> 
  Project:<input type="text" name="project"> 
  
  <input type="submit" value="Edit"> 
</form> 



<form action="/students/ <%= @student.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"> 
  <input type="submit" value="Delete"> 
</form> 
