

<h1> Students Name: <%= @student.name %> </h1>
<h3> Grade level: <%= @student.grade_level %> </h3>
<h3> Project: <%= @student.project %> </h3>

<br><br>

<h6> To edit information input changes here </h6>
<form action="/students/<%= @student.id %>/edit method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name"> 
  <input type="text" name="grade_level"> 
  <input type="text" name="project"> 
  
  <input type="submit" value="Edit" 
</form> 



<form action="/students/ <%= @student.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"> 
  <input type="submit" value="Delete"> 
</form> 
