<h1> New student enrolled in Sinatra Central School Districts 2020 Science Fair </h1>

<br><br><br>

<h4> Students Name: <%= @student.name %> </h4>
<h5> Grade level: <%= @student.grade_level %> </h5>
<h5> Project: <%= @student.project %> </h5>

<br><br>


<% if @student.user.id=current_user %> 

<h6> To edit information input changes here </h6>
<form action="/students/<%= @student.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:<input type="text" name="name"> 
  Grade_level:<input type="text" name="grade_level"> 
  Project:<input type="text" name="project"> 
  
  <input type="submit" value="Edit"> 
</form> 



<form action="/students/ <%= @student.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"> 
  <input type="submit" value="Delete"> 
</form> 

<br><br>

<% end %>

<form action="/students" method="post"> 
    <input type="submit" value="View Students">
</form>

<br><br>

<form action="/logout" method="post"> 
   <input type="submit" value="Logout"> 
</form>


